.text-bold {
  font-weight: bold;
}

.boardDetailsStyle {
  color: #ffb210;
  font-weight: bold;
  font-size: 31px;
}

.mb {
  margin-bottom: 10px;
}

.f_14 {
  font-size: 14px;
}

.text-color {
  color: #ffb210;
}

@media (max-width: 600px) {
  .detailsBox {
    text-align: center;
  }

  .syllabusBox {
    overflow-y: auto;
  }
}

@media (min-width: 600px) {
  .detailsBox {
    text-align: start;
  }

  .syllabusBox {
    height: 100px;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }

}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
