.inner-area {
  background-color: #6053c9;
  border-radius: 25px;
}

.outer-area {
  background-color: #0b2f90;
  border-radius: 25px;
  padding: 0;
}

.floating-area {
  background-color: #fbcc0a;
  border-radius: 5px;
  padding: 10px;
}

.floating-area-color {
  color: #4d370a;
  font-weight: bold;
  font-size: small;
}

.other-area-color {
  color: #fbfafe;
  padding: 30px;
  border-radius: 25px;
}

.floating-position {
  position: absolute;
  top: 1px;
  left: 3.5%;
}

.mt-25 {
  margin-top: 25px;
}

.mat-tab-label {
  color: white;
  font-weight: bold;
}

.mat-tab-label-active {
  border-radius: 25px;
  background-color: #0b2f90;
}

.mat-tab-header {
  border-bottom: none;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-select-value {
  color: white;
  font-weight: bold;
}

.mat-select-arrow {
  color: white;
}

.mat-form-field-ripple {
  background-color: white;
}

.mat-form-field-label {
  color: white;
}

.mat-form-field-appearance-fill .mat-form-field-underline {
  background-color: white;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: white;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: white;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}

.bg-white {
  background-color: white;
}

.filling-span {
  color: #0b2f90;
  padding: 3px;
  font-weight: bold;
  border-radius: 4px;
}

.offer_heading_style {
  color: #fbcc0a;
  font-weight: bold;
  font-size: 31px;
}

.fs_25 {
  font-size: 25px;
}

.text-bold {
  font-weight: bold;
}

.text-amber {
  color: #fbcc0a;
}

.mt {
  margin-top: 10px;
}

.mt-l {
  margin-top: 15px;
}

.strike {
  text-decoration: line-through;
}

.br20 {
  border-radius: 20px;
}

.fs_20 {
  font-size: 20px;
}

.btn-amber {
  background-color: #fbcc0a;
}

.text-black {
  color: black;
}

.btn-xl {
  padding: 10px 45px;
  font-size: 18px;
  line-height: 1.3333333;
}

.mb {
  margin-bottom: 10px;
}

.mat-radio-outer-circle {
  border-color: white;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: white;
}

.plpr0 {
  padding-left: 0;
  padding-right: 0;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #6053c9;
}

.mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .floating-offer {
    position: relative;
    left: 50%;
  }

  .floating-off {
    position: relative;
    left: 45%;
  }

  .radioBtnPosition {
    position: absolute;
    left: -25px;
    top: 45%;
  }
}

@media (min-width: 600px) {
  .floating-offer {
    position: relative;
    left: 35%;
  }

  .floating-off {
    position: relative;
    left: 30%;
  }

  .radioBtnPosition {

  }
}
